/*******左边栏*******/

.cate_tips_box {
    font-weight: bold;
    font-size: 15px;
    padding: 15px 0 15px 25px;
    color: white;
    background-color: #6bc15f;
    border-color: #6bc15f;
}

.news_list .cate_content_box {
    margin-bottom: 18px;
}

.panel-group .panel {
    border-radius: 0px;
    margin-bottom: -5px;
}
.panel-group .panel > ul {
    padding-top: 0;
    padding-bottom: 0;
}


.panel-group .panel > ul > li {
    border-bottom: 1px solid #4e555e;
    padding: 15px 0;
    font-size: 12px;
    color: #8d9399;
}

.panel-group .panel:hover a{
    padding-left: 10px;
    color: #6bc15f;
    transition: all 0.8s;
}
.panel-group .panel > ul > li:hover {
    color: #6bc15f;
    transition: all 0.8s;
    cursor: pointer;
}
/*.btn-default a:hover{*/
/*background: #f8694d;*/
/*}*/
.panel-group .panel .baoguo i strong{
    color: #8d9399;
}
.panel-group .panel .baoguo a{
    font-size: 12px;
    color: #8d9399;
}
.cate_box > li {
    background-color: #3b424c;
    padding: 15px 21px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    cursor: pointer;
}

.cate_box > li > a {
    font-size: 12px;
    color: #8d9399;
    text-decoration: none;
}
.cate_box > li > i{
    font-size: 24px;
    color: #8d9399;
    text-decoration: none;
}

.cate_box {
    position: relative;
}

.cate_box > li > a .fa:first-child {
    padding-right: 10px;
}

.detail_left .left_menu{
    padding: 0px;
}
.detail_left .left_menu>li{
    margin: 0px !important;
}
.detail_left .left_menu>li .m_title{
    width: 100%;
    height:59px;
    display: block;
    font-size:14px;
    background-color: #444;
    color: #fff;
    border-bottom:1px solid #666;
    padding: 0px 10px;
    cursor:pointer;
}
.detail_left .left_menu>li .m_title span,.detail_left .left_menu>li .m_title i{
    height: 59px;
    line-height:59px;
    margin-left: 10px;
    display: block;
    float: left;
}
.detail_left .left_menu>li .m_title i{
    float: right;
}
.detail_left .left_menu>li .m_title:hover{
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5) inset;
}
.detail_left .left_menu>li .main{
    width: 100%;
    overflow: hidden;
    border-radius: 0;
    text-align: center;
    font-size: 14px;
    color: #dedede;
    background-color: #544;
}
.detail_left .left_menu>li .main a{
    border-bottom:1px solid #666 ;
    color: #fff;
    width: 100%;
    font-size:14px;
    height: 40px;
    line-height:40px;
    display: block;
    text-align: left;
    padding-left: 50px;
}
.detail_left .left_menu>li .main a:hover{
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5) inset;
}



/*******右边栏*******/
.detail_right{
    margin-bottom: 15px;
}
.detail_right .main{
    margin-left: 15px;
    overflow: hidden;
    background-color: #fff;
}
.detail_right .main .main_left .lg_img{
    width: 428px;
    height: 428px;
    line-height: 428px;
    overflow: hidden;
    margin:15px 0px ;
}
.detail_right .main .main_left .lg_img img{
    width: 428px;
}
.detail_right .main .main_left .sm_img{
    height: 65px;
    width: 428px;
}
.detail_right .main .main_left .sm_img img{
    width: 65px;
    opacity: 0.6;
}
.detail_right .main .main_left .sm_img img+img{
    margin-left: 3px;
}
.detail_right .main .main_right>h3{
    margin-top: 50px;
}
.detail_right .main .main_right .communication{
    margin: 20px 0px !important;
}
.detail_right .main .main_right .communication>span{
    color: #f8694d;
    font-size: 20px;
}
.detail_right .main .main_right .communication>a{
    font-size: 12px;color: #999;
    cursor: pointer;
}
.detail_right .main .main_right .communication>a:hover{
    color: #f8694d;
}
.detail_right .main .main_right .communication>a:hover i{
    background-color: #f8694d;
    color:#fff ;
}
.detail_right .main .main_right .communication>a>i{
    background-color: #999;
    color:#fff ;
    text-align: center;
    line-height: 24px;
    width: 24px;
    height: 24px;
    border-radius: 20px;
}
.detail_right .main .main_right .describe{
    font-size: 12px;color: #999;
}
.detail_right .main .main_right .select{
    width: 100px;
    height: 30px;
    text-align: center;
    border:1px solid #dedede;
}
.detail_right .main .main_right>div>span{
    font-size:14px;
}
.detail_right .main .main_right .size{
    margin: 20px 0px;
}
.detail_right .main .main_right .num{
    margin: 20px 0px;
    height: 30px;
}
.detail_right .main .main_right .num .num_btn{
    display: inline-block;
    border:1px solid #dedede;
}
.detail_right .main .main_right .num .num_btn input{
    text-align: center;
    height: 30px;
    width: 80px;
    border:none;
    border-left:1px solid #dedede;
    border-right:1px solid #dedede;
}
.detail_right .main .main_right .num .num_btn i{
    height: 30px;
    line-height: 30px;
    width: 30px;
    display:inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}
.detail_right .main .main_right .num .num_btn i:hover{
    font-size: 16px;
}
.detail_right .main .main_right .cart{
    margin-top: 20px;
}
.detail_right .main .main_right .cart a{
    height: 45px;
    margin-right: 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    line-height: 45px;
    padding: 0px 35px;
    display: inline-block;
    background-color: #f8694d;
    cursor: pointer;
}
.detail_right .main .main_right .cart a:hover{
    background-color: #ff3333;
}
.detail_right .describe{
    margin-top:30px ;
}
.detail_right .describe .title_box,.detail_right .describe .content{
    margin-left:15px ;
    padding: 10px;
    background: #fff;
    overflow: hidden;
}
.detail_right .describe .title_box .title  a{
    color:#333;
}
.detail_right .describe .title_box .title .active a{
    color:#f8694d;
}
.detail_right .describe .content .More_Info img{
    width: 100%;
}
.detail_right .describe .content .person{
    overflow: hidden;
}
.detail_right .describe .content .person .left{
    border-right:1px solid #dedede;
    color: #666;
}
.detail_right .describe .content .person .left p span{
    color:#f8694d;
}
.detail_right .describe .content .person .right{
    overflow: hidden;
    padding: 15px 10px ;
}
.detail_right .describe .content .write{
    color: #fff;
    background: #666;
    display: inline-block;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 20px;
}
.detail_right .describe .content .write:hover{
    background: #f8694d;
}
.detail_right .recommend{
    position:relative;
    padding-right: 0px;
}
.detail_right .recommend>h3{
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    background: #f8694d;
    margin-bottom: 0px;
}
.detail_right .recommend .direction{
    position: absolute;
    top: 0px;
    right: 0px;
}
.detail_right .recommend .direction a{
    border: 1px solid #666;
    color: #666;
    padding:1px 4px;
    margin-right: 3px;
    line-height: 60px;
}
.detail_right .recommend .goods-list{
    overflow: hidden;
    background: #fff;
    padding: 10px;
}
.detail_right .recommend .goods-list .goods{
    overflow: hidden;
}
.detail_right .recommend .goods-list .goods p span{
    color: #f8694d;
}
.detail_right .recommend .goods-list .goods img{
    width: 80%;
}
