.one_screen{
	margin-top: 30px;
}
.catebox{
	padding-left: 0;
}
.catebox_title{
	padding: 12px 0 12px 10px;
	background-color: #F8694D;
}
.one_screen .catebox_text{
	margin-left: 10px;
	color: #fff;
	font-size: 16px;
}
.catebox ul.catebox_list{
	margin: 0;
	padding: 0;
}
.catebox ul.catebox_list li{
	height: 46px;
	line-height: 46px;
	cursor: pointer;
	background-color: #333333;

}
.catebox ul.catebox_list li span,
.catebox ul.catebox_list li i{
	margin-left: 10px;
	transition: color .5s;
	color: #ACAAA8;
}
.catebox ul.catebox_list li:hover span{
	color: #EC573A;
}
.catebox ul.catebox_list .cate_item_right{
	margin: 20px 10px 0 0;
	font-size: 12px;
}
.catebox ul.catebox_list .dropdown .dropdown_item{
	width: 300px;
	left:100%;
	top:0;
}



 

#carousel_two ul{
	padding: 5px;
} 
#carousel_two ul.item li{
 	padding: 0;
 }
.carousel_two_arrow{
	height: 22px; 
	z-index: 99;
	margin-top: -22px;
}
.carousel_two_arrow a{
	width: 15px;
	height: 15px; 
	margin-top: -22px; 	
	text-align: center; 
 	border: 1px solid #fff;
	color: #fff;
	font-size:10px;
	font-weight: 400;
}
.carousel_two_arrow a i{
	top:0;
}
.carousel_two_arrow a:hover{
	color: #FFA500;
	border: 1px solid #FFA500;
}
.carousel_two_arrow a:first-child{
	margin-left: 10px;
}
.carousel_two_arrow a:last-child{
	margin-right: 10px;
}
#top_lunbo{
	padding-left:0; 
	padding-right: 10px;
}
 

#top_lunbo .top_hot_title{
	margin-top: 20px;
	height: 30px;
	line-height: 30px;
	background-color: #39B0FF;
	text-align: center;
	color: #fff;
}
 .one_screen{
 	margin-top: 30px!important;
 }
 
.one_screen .hot_item .hot_item_box{
	margin-top: 15px;
}
.one_screen .hot_item .star_box i{
	font-size: 12px;
	color: #C6CACF;
}
.one_screen .hot_item .hot_item_prince{
  	color: #F86B4D;
}

.one_screen .hot_item .star_box{
	line-height: 35px;
}
.one_screen .head_right_bar{ 
	padding-right: 0;
}
.carousel-control{
}
.head_right_bar .down_bar{
	margin-top: 20px;
}
.row{
	margin: 0;
}
a{
	text-decoration: none;
}
#fruit,#food{
	margin-top: 30px;
}
.up_box .up_left{
	background-color: orange;
	padding: 0;
	margin: 0;
}
.up_box .up_left .up_left_title{
	color: #fff;
	font-weight: bold;
}
.carousel_fruit_left_arrow{
	height: 40px;
	margin-top: -31px;
}
.carousel_fruit_left_arrow a{
	color: #fff;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	font-size: 12px;
	margin-right: 5px;
	font-weight: 300;
	border: 1px solid #EF8B3D;
} 


.down_box .guanggao{
	padding: 0;
}
.guanggao02{
	padding-left: 11px;
}
.up_box .up_right .up_right_title{
	font-size: 18px;
	color: #F79D00;
	font-weight: bold;
}
.up_box .up_right .up_right_item{
	height: 0;
}
.up_box .up_right .up_right_item p{
	margin-right: 10px;
}
.up_box .up_right .up_right_item p a{
	padding:0 15px; 
	font-size: 14px;
	color: #F79D00;
	font-weight: bold;
}
.up_box .up_right .up_right_item p a:hover{
	text-decoration: none;
	color: #F75D08;
}
.down_left .down_left_item,
.two_screen .down_left_item{
	height: 115px;
	margin-top: 22px;
} 
.down_right_list{
	margin-top: 27px;
	height: 240px;
	position: relative;
}
 
.down_right_list .down_right_list_img{ 
	margin-top: 25px;
	position: relative;
}
.down_right_list .down_right_list_img .new,
 .hot_item_img .new
{
	position: absolute;
	width: 62px;
	height: 49px;
	right: -10px;
	top:-40px; 
	background: url("../img/new.png") no-repeat; 
	z-index: 10;
}
 .hot_item_img .new{ 
 	top: 30px;
	right: 0;
}
.down_right_list .down_right_list_start,
.down_left .down_left_item .down_left_item_text .down_left_item_text_start{
	height:20px;
} 
.down_right_list_prince,
.down_left .down_left_item .down_left_item_text .down_left_item_text_prince{
	font-weight: bold;
	color: #f00;
}
.down_right_list .down_right_list_detail,
.down_left .down_left_item .down_left_item_text .down_left_item_text_detail{
	height: 40px;
}
 
.up_box{
	height: 50px;
	line-height: 50px; 
} 
.two_screen .two_up{
	margin-top: 50px;
	line-height: 80px;
}

.two_up .two_title{
	font-size: 18px;
	color: #6BC15F;
	font-weight: 600;
	text-indent: 10px;
}
 .two_up .two_item{
 	margin: 0;
 	padding-left: 20px;
 }
.two_up .two_item a{
	padding: 0 5px;
	margin-right:20px;
	font-weight: bold;
	color: #F7A221;
}
.two_up .two_item  a:hover{ 
	color: #ED8C3F;
}
.two_up .two_bar_title{
	background-color:#6BC15F; 
	font-size: 18px;
	text-indent: 20px;
	color: #fff; 
}
 
.down_right_list .add_cart_content,
.hot_item .add_cart_content{
	position: absolute;
    bottom: 40px;
    background:rgba(255,255,255,.7);
    width: 94%;
    height: 110px;
    cursor: pointer;
    transition: opacity .5s;
    opacity: 0;
}
.hot_item .add_cart_content{ 
    bottom: 0;
    height:82px;
}
.down_right_list:hover .add_cart_content,  
.hot_item_box li:hover .add_cart_content 
{
	opacity: 1;
} 
.hot_item_box li .hot_item_img,
.down_right_list .down_right_list_img {
	transition: opacity .5s; 
}
.hot_item_box li .hot_item_img img{
	margin:0 auto!important; 
	display: block;
}
 
 
.down_right_list .add_cart_content .add_cart_btn,
.hot_item .add_cart_content .add_cart_btn{
	width: 100px;
	height: 35px; 
	margin:40px auto 0;
}
.hot_item .add_cart_content .add_cart_btn{
	margin:20px auto 0;
}
.down_right_list .add_cart_content .add_cart_btn span,
.hot_item .add_cart_content .add_cart_btn span{
	width: 25px;
	height: 25px;
	display: inline-block;
	text-align: center;
	margin-right: 5px;
	line-height: 25px;
	border-radius: 50%;
	color: #F55D3E;
	border: 1px solid #F55D3E;
}

.down_right_list .add_cart_content .add_cart_btn span:hover,
.hot_item .add_cart_content .add_cart_btn span:hover{
	color: #fff;
	background-color: #F55D3E;
}

.down_right_list .add_cart_content .btn_add_cart,
.hot_item  .add_cart_content .btn_add_cart{ 
	text-align: center; 
	margin:0 auto ;
	width: 120px;
	height: 25px;
	color: #F55D3E;
	font-size: 14px;
	font-weight: bold;
	background: none; 
	border: 1px solid #F55D3E;
	border-radius: 10px;
}
 
.down_right_list .add_cart_content .btn_add_cart:hover,
.hot_item  .add_cart_content .btn_add_cart:hover{
	color: #fff;
	background-color: #F55D3E;
}

.fixed_left_nav{  
	position: fixed;
	left: 30px;
	top: 100px;
	background: rgba(245,93,62,.8);
	border-radius: 5px;
	display: none;
}

.fixed_left_nav ul li{
 	line-height: 30px;
 	clear: both;
 	text-align: center;
 }
.fixed_left_nav ul li a{
	margin: 0;
	color: #fff;
}
.fixed_left_nav ul li:hover a{
	color: #FA6748;
}
.fixed_left_nav ul li.active a{
	color: #F77D65;
}
.fixed_left_nav ul li.active a:hover{
	color: #F77D65;
}
@media screen and (max-width: 1198px){
	.down_left {
		position: relative;
	}
	.carousel_fruit_left_arrow{
		position: absolute;
		top: -50px;
		right: 0;
		height: 20px; 
	}

	.down_right_list .add_cart_content {
		opacity: 0;  
		width: 80%;
		top: 80px!important;
    	left:0%!important;

	}
	.down_right_list:hover .down_right_list_img,
	.hot_item .hot_item_box li:hover .hot_item_img {
		opacity: 1;
	}
	.hot_item_box .add_cart_content{
		top: 70px!important;
	}
}

@media screen and (max-width: 990px){ 
	.catebox{
		padding: 0;
	}

}

@media screen and (max-width: 760px){ 
	#top_lunbo{
		clear: both;
	}
	.catebox_title{ 
		margin-top: 40px;
	}
	.one_screen #top_lunbo{
		margin: 0;
	}
	.carousel_fruit_left_arrow{ 
		top: 0px;  
	} 

	.down_right_list .add_cart_content, 
	.hot_item .add_cart_content{
    	top: 77px!important; 
		opacity: 1!important;
	}
	.down_right_list:hover .down_right_list_img,
	.hot_item .hot_item_box li:hover .hot_item_img {
		opacity: 1!important;
	}
	.hot_item_box .add_cart_content{
		top: 70%!important;
		left: 30%;
	}
	.guanggao02,.guanggao {
		display: none;
	} 
}